.addCardBtn {
  margin: 5px 0;
  align-self: center;
  width: 30px;
  height: 30px;
  background-color: #cfe4f0;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  color: #456ae4;
}
.addCardBtn:hover {
  background-color: #c2dbe9;
}
.closeBtn {
  align-self: flex-end;
  margin: 3px 3px 0 0;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 3px;
}
.closeBtn:hover {
  background-color: #c7c7c7;
}
.cardForm {
  display: flex;
  flex-direction: column;
  padding: 15px 6px 10px;
  border-radius: 10px;
}
.cardForm .cardTitleWrap {
  display: flex;
  flex-direction: column;
  padding-top: 0;
}
.cardForm .cardTitleWrap .cardBtnsWrap {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 0;
}
.cardForm .cardTitleWrap .titleInput {
  margin-top: 2px;
}
.cardForm .titleInput {
  width: 95%;
  font-size: 18px;
  font-weight: bold;
  border: solid 1px grey;
}
.cardForm .checkboxWrap {
  margin-top: 5px;
}
.cardForm .checkboxWrap p {
  margin: 0 0 2px 5px;
}
.cardForm .checkboxWrap p .checkbox {
  margin-right: 5px;
}
.cardForm .textInput {
  margin: 5px 0;
  height: 50px;
  font-size: 18px;
  border: solid 1px #a5a3a3;
}
.cardForm .newCardBtn {
  width: 120px;
  border: solid 1px #3056d1;
  border-radius: 5px;
}
.formBtn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 18px;
  color: #3874c4;
}
.addCardWrap .cardForm {
  padding-top: 5px;
}
