* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
button:hover {
  cursor: pointer;
}
h2 {
  color: whitesmoke;
}
li {
  list-style: none;
}
input,
textarea {
  border-radius: 2px;
}
textarea {
  max-width: 250px;
}
button {
  border: none;
}
.app {
  display: flex;
  flex-direction: column;
}
.searchWrap {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}
.listsWrapper {
  display: flex;
  height: 100%;
}
.listsWrapper .listContainer {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 10px;
}
.listsWrapper .Backlog {
  background-color: #8b8b8b;
}
.listsWrapper .Selected {
  background-color: #a8a807;
}
.listsWrapper .Running {
  background-color: #c34848;
}
.listsWrapper .Evaluating {
  background-color: #78a8e7;
}
.listsWrapper .Live {
  background-color: #80ca11;
}
